.rowsContainer {
    display: flex;
    flex-direction: column;
}

.firstContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondContainer {
    display: flex;
    align-items: center;

}

.coint{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color:rgb(255, 174, 0);
    font-size: 24px;
    border: 3px solid rgb(255, 174, 0);
    background: rgb(255, 238, 0);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation:coint 2s linear infinite both
}

.wood {
    background-image: url(../images/utils/wood.png);
    image-rendering: pixelated;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
}

@keyframes coint{
    50%{transform:rotateY(0)}
    100%{transform:rotateY(360deg)}
}


.arrow {
    width: 50px;
    height: 50px;
    border-radius: 5px !important;
    margin: 5px !important;
}

.container {
    flex: 3;
    border: 5px solid rgb(102, 62, 13);
    position: relative;
    background-color: rgb(29, 29, 29);
    color: white;
}

.pointsContainer {
    background-color: rgb(80, 68, 58);
    border: 5px solid rgb(255, 174, 0);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 80px;
    height: 50px;
    gap: 20px;
    padding: 5px 10px;
    margin: 10px;
}

.cursor {
    position: absolute;
}

.playerHead {
    width: 5px;
    height: 5px;
    background-color: black;
    margin-left: 5px;
    margin-top: 2.5px;
}

.navbarGame {
    display: flex;
    flex-direction: row;
    flex: 3;
}

.middleContainer {
    border: 3px solid rgb(43, 41, 41);
    background-color: rgb(112, 122, 92);
    padding: 5px;
    visibility: hidden;
    position: absolute;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    top: 25%;
}

.inventory {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;
    margin-right: 10px;
    border: 5px solid rgb(102, 62, 13);
    width: 250px;
    height: 400px;
    background-color: rgb(221, 94, 94);
}

.gapInventory {
    background-color: aqua;
    margin: 1px;
    border: 3px solid black;
}

.craftTable {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    margin-right: 10px;
    border: 5px solid rgb(102, 62, 13);
    width: 150px;
    height: 150px;
    background-color: rgb(221, 94, 94);
}