@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html {
    display: flex;
    flex-direction: column;
    background: #565656;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    position: relative;
}

main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}