@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');


:root {
    --padding-header: 20px;
    --title-size: 60px;
    --height-header: 80px;
}

/*Depende de la resolución de un dispositivo*/
@media (max-width: 768px) {
    :root {
        --title-size: 30px;
    }
}

.layout {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--height-header);
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #383838;
    filter: drop-shadow(0px 4px 4px rgb(255, 255, 255, 0.1));
}

.navbar {
    display: block;
    position: relative;
    height: 16em;
    align-self: auto;
    height: var(--height-header);
    width: 1200px;
}

.title {
    width: max-content;
    height: auto;
    margin: 40px 0; /* X,Y */
    margin-left: 20px;
    text-align: center;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: var(--title-size);
    cursor: pointer;
    line-height: 1.5px;
    color: white;
}


.listItems {
    display: flex;
    flex-direction: row;
    width: max-content;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-100%, -50%);
}

.listContainer {
    width: max-content;
    padding: 10px;
    align-items: center;
    text-align: center;
}

.listItems a {
    width: max-content;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat';
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-right: 20px;
}

.listItems ul div {
    width: max-content;
    text-align: center;
    background-color: #383838;
    display: none;
    position: absolute;
}

.listItems div li:hover {
    background-color: #727272;
    cursor: pointer;
}
.listItems ul:hover div {
    display: block;
    width: max-content;
    height: max-content;
}


ul, ol {
    list-style: none;
}






